workflows/currency_rates.json
{
  "name": "Currency Rates Fetcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "js": true
        }
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "outputs": ["main"]
    },
    {
      "parameters": {
        "url": "https://api.exchangerate-api.com/v4/latest/USD",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "inputs": ["main"],
      "outputs": ["main"]
    },
    {
      "parameters": {
        "mode": "raw",
        "fields": {
          "values": [
            {
              "name": "baseCurrency",
              "value": "USD",
              "type": "string"
            },
            {
              "name": "eurRate",
              "value": "={{ $json.rates ? $json.rates.EUR : 'N/A' }}",
              "type": "number"
            },
            {
              "name": "gbpRate",
              "value": "={{ $json.rates ? $json.rates.GBP : 'N/A' }}",
              "type": "number"
            },
            {
              "name": "jpyRate",
              "value": "={{ $json.rates ? $json.rates.JPY : 'N/A' }}",
              "type": "number"
            },
            {
              "name": "lastUpdated",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "edit-fields",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1.1,
      "position": [650, 300],
      "inputs": ["main"],
      "outputs": ["main"]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "currency-rates-workflow",
  "versionId": "1.0.0"
}